{{ define "main" }}

<div class="box">
    <div class="content">
        <div class="tenor-gif-embed" data-postid="4180936" data-share-method="host" data-width="100%" data-aspect-ratio="2.0"><a href="https://tenor.com/view/gameofthrones-tyrion-lannister-gif-4180936">First Sunday Without Game Of Thrones !!!!!!!!!1SUCKS!!!!!!!!. GIF</a> from <a href="https://tenor.com/search/gameofthrones-gifs">Gameofthrones GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
</div>

{{ end }}
